*{
    margin: 0 ;
    padding: 0 ;
    box-sizing: border-box;
}


.contenedor{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 200px;

}

.naranja{
    width: 200px;
    height: 200px;
    background-color: orange;

}
.amarillo{
    width: 200px;
    height: 200px;
    background-color: yellow;
 
}

.azul_1{
    width: 200px;
    height: 200px;
    background-color: aqua;
}




.letra{
    font-size: 40px;
    margin-top: 55px;
    margin-bottom: 15px;
    text-align: center;
}

.palabra{
    font-size: 20px;
    text-align: center;
}