*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 1200px;
    height: 180px;
}

header{
    background-color: bisque;
    margin-top: 10px;
    margin-bottom: 10px;
}
.logo{
    background-color: aquamarine;
    width: 600px;
    height: 180px;
    float: left;
}
.logo1{
    width: 250px;

}
.logo1:hover{
     color: black;
}


ul{
    background-color: yellow;
    width: 560px;
    height: 90px;
    float: left;
    list-style: none;
    padding-top: 90px;
    
 }

li{
    display: inline;
    padding-left: 95px;
    font-size: 20px;
    color: brown;
}

.brown{
    text-decoration: none;
}
  .brow:link{
        color: brown;
    }
    .brown:hover{
   color: black;
    }
    main{
        background-color: lime;
        height: 600px;
    }
    video{
        width: 600px;
        height: 600px;
        float: left;
        
    }
    h2{
        font-size: 25px;
        background-color: beige;
        width: 600px;
        height: 350px;
        float: right;
        text-align: center;
        padding-top:250px ;
    
    }
    span{
        color: brown;
    }
    article{
        border: 2px black solid;
        height: 80px;
        margin-top: 10px;
        margin-bottom: 10px;
        text-align: center;
        padding-top: 70px;
        font-size: 20px;
    }

    .ideas{
        background-color: coral;
        height: 280px;
        margin-bottom: 10px;
    }
    .banner{
        width: 500px;
        float: left;
       height: 280px;
    }
    .banner2{
       width: 500px;
        float: right;
        height: 280px;
    }
    footer{
        height: 10px;
    }