*{
    margin: 0 auto;
    padding: 0 auto;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-image: url("pretty-blue-1920-x-1200-background-twrmz68ml492o1c7.jpg");
    
}
header{
    margin-top: 30px;
    margin-bottom: 10px;
}
.título{
    width: 600px;
    height: 180px;
    float: left;
    padding-left: 500px;
    color: lime
}
 ul{
    list-style: none;
 }
 li{
  text-align: center;
  border-style: solid;
  border-color: greenyellow;
  border-width: 10px;
  width: 200px;
  height: 100px;
  margin-top: 10px;
  font-size: 50px ;
  
 }
 
