*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url(img/cafeteria-grabada-fondo-objetos-relacionados-textura-papel-kraft_281653-1168.avif);
    background-size: cover;
}

header{
 display: flex;
 flex-flow: column;
 justify-content: center;
 margin: auto;
}

h1{
    font-family: "canvas-script", sans-serif;
    text-align: center;
    margin-top: 3vw;
    margin-bottom: 1.5vw;
    font-size: 4vw;
}
ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    list-style: none;
    width: 70vw;
    background-color: rgb(117, 80, 25);
    margin: auto;
    border-style: solid;
    border-width: 0.3vw;
    border-color: rgb(214, 142, 47);
    margin-bottom: 2vw;
}
ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 1.25vw;
    padding: 4vw;
    color: white;
    font-family: "helvetica-lt-pro", sans-serif;
}
ul li{
    margin: 1vw;
    align-items: center;
}
main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin: auto;
    width: 65vw;
    height: 35vh;
    background-color: rgb(21, 131, 94);
    margin-top: 1.5vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: black;
}
main h2{
    margin-top: 1vw;
    font-size: 2.5vw;
    font-family:"canvas-script", sans-serif ;
    letter-spacing: 0.1vw;
    color: black;
}
main p{
    font-family: "helvetica-lt-pro", sans-serif;
    margin: 0.5vw;
}
article{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 60vw;
    height: 20vh;
    border-width: 0.5vw;
    border-style: dashed;
    border-color: black;
}
article div p{
   text-align: center;
   font-size: 2vw;
}
aside{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 60vw;
    height: 75vh;
    background-color: rgb(56, 75, 5);
    margin: auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    border-width: 0.5vw;
    border-style: solid;
    border-color: black;
}
iframe{
    margin:auto;
    width: 50vw;
    height: 70vh;
}
section{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 3vw;
    width: 70vw;
    margin: auto;
    background-color:rgb(117, 80, 25);
    border-width: 0.5vw;
    border-style: solid;
    border-color: black;
    margin-bottom: 2.5vw;
}
section a{
    text-decoration: none;
    color: deepskyblue;
    text-align: center;
    font-size: 1.8vw;
}
footer{
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin: 3vw;
    width: 70vw;
    margin: auto;
    background-color:rgb(117, 80, 25);
    border-width: 0.5vw;
    border-style: solid;
    border-color: black;
    margin-bottom: 2.5vw;
}
footer p,a{
    font-size: 2vw;
    text-decoration: none;
    padding: 1.5vw;
}
footer em{
    color: deepskyblue;
}

@media (orientation: landscape){
     .contacto{
        display: none;
     }
}



@media (orientation: portrait) {
    .contacto{
        display: none;
    }
    aside{
        width: 70vw;
        height: 50vh ;
    }
    iframe{
        width: 60vw;
        height: 40vh;
    }
    
}