*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    text-align: center;
    letter-spacing: 5px;
    margin-top: 40px;
    color: dodgerblue;
}
nav{
    text-align: center;
    margin-top: 15px;
}

section{
    text-align: center;
    margin-top: 20px;
    padding-bottom: 20px;
}




article{
display: flex;
flex-direction: row;
justify-content: center;
flex-wrap: wrap;
width: 800px;
height: 200px;
margin-left: 220px;
}

img{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}