*{
    margin: 0 auto;
    padding: 0 auto;
    box-sizing: border-box;
}
.contenedor{
    display: flex;
    flex-direction: row;
   
    width: 90%;
    height: 100vh;
    background-color: white;
   
    border-color: black;
    border-width: 1px;
    border-style: solid;
}
.nombres{
    margin: 15px;
    padding: 5px;
    background-color: fuchsia;
    }
